<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shadt.iptv_qx">

    <!-- WindowManger 权限(浮动窗口)-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppCompatTheme"
        android:supportsRtl="true">
        <!-- 测试的主Activity-->

        <meta-data
            android:name="design_width_in_dp"
            android:value="1080"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="720"/>
        <activity
            android:name="com.shadt.iptv_qx.WelcomeActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
             <!--   <data android:scheme="ServiceQueryActivity2" android:host="com.shadt.iptv_qx" android:pathPrefix="/openwith"/>-->
             </intent-filter>
        </activity>
           <activity
               android:name=".newListViewActivity"/>
        <activity
            android:name=".newListViewActivity2"/>
         <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".MainActivity_Visual"  />

        <activity
            android:name=".VisualizationActivity" />
        <activity
            android:name=".WebActivity" />
        <activity
            android:name=".IjkPlayerActivity" />
    </application>
</manifest>